.form-container{
    position: absolute;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.form-content{
    background-color: white;
    padding: 60px 30px 60px 30px;
    
}
.form{
    display: flex;
    flex-direction: column;
    
}
.form-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-group {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px; 
}
.small-input{
    width: 291px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    margin-right: 40px;
}
.big-input{
    width: 627px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.file-label {
    margin-right: 10px;
    width: 424px;
    border: none;
    border-bottom: 1px solid #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
}
.file-input {
    color: transparent;
}
.file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.file-input::before {
    margin-left: 30px;
    content: 'Прикріпити';
    color: black;
    display: inline-block;
    border: none;
    border-radius: 20px;
    padding: 11px 43px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    background-color: #F6F6F6;
  }
.textarea-label{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
  }
.textarea-block{
    resize: none;
    border: 1px solid black;
    width: 627px;
    height: 184px;
  }
.submit-button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 50px;
  }
.submit-button{
    padding: 10px 79px;
    background-color: #FEDE42;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    border: none;
  }
.submit-button:hover{
    border: 1px solid black;
    cursor: pointer;
  }
.contact-form{
    background: #FEDE42;
    width: 396px;
    height: 305px;
    padding: 40px 40px;
    margin-left: 20px;
 }
.text-contact{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
 }